:root {
    --feijoa: #a2d187;
    --riverbed: #404a59;
    --jaggedice: #cae9eb;
    --hopbush: #ce6897;
  }

body {
    background-color: var(--riverbed);
    color: var(--jaggedice);
    font-size: large;
    font-weight: bold;
    align-items: center;
}

a {
  text-decoration: none;
  color: var(--riverbed);
}

a :hover {
  color: var(--hopbush);
}

.right {
    float: right;
}

#timer {
    float: left;

}

#nav {
    display: block;
    background-color: var(--feijoa);
    width: 99vw;
    display: inline-block;
    padding-top: 10px;
    border-radius: 8px;
    border: 4px var(--feijoa);
    color: var(--riverbed);
}

h1 {
    padding-right: 30px;
    font-size: 25px;
}

h1 a {
  color: var(--jaggedice);
}

h2 {
    padding-left: 30px;
    font-size: 25px;
    color: var(--riverbed);
}

h3 {
    text-align: center;
    font-size: 80px;
    color: var(--feijoa);
}

h4 {
    text-align: center;
    font-size: 40px;
    color: var(--feijoa);
}

#startbtn {
  background-color: var(--hopbush);
  color: var(--jaggedice);
  padding: 20px 50px;
  margin: 10px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 25px;
  border-width: 5px;
  border-color: var(--jaggedice);
}

#questionTitle {
  font-size: 30px;
}

#btn1 {
  padding: 15px 30px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  border-width: 5px;
  border-color: var(--jaggedice);
  color: var(--riverbed);
  background-color: var(--jaggedice);
}

#btn2 {
  padding: 15px 30px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  border-width: 5px;
  border-color: var(--hopbush);
  color: var(--riverbed);
  background-color: var(--hopbush);
}

#btn3 {
  padding: 15px 30px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  border-width: 5px;
  border-color: var(--jaggedice);
  color: var(--riverbed);
  background-color: var(--jaggedice);
}

#btn4 {
  padding: 15px 30px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  border-width: 5px;
  border-color: var(--hopbush);
  color: var(--riverbed);
  background-color: var(--hopbush);
}